@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none !important;
    font-family: 'Quicksand', sans-serif;

}
h1{
    color: #f5f5f5;
}
.subtitle{
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #f5f5f5;
}
#root{
    width: 100%;
}
body {
    background: rgb(145,139,255);
background: linear-gradient(-45deg, rgba(145,139,255,1) 0%, rgba(67, 98, 165, 0.151) 100%);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
	height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &::after{
        position: absolute;
        display: block;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.container {
    max-width: 1450px;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
   
}

.app-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.top-block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-wrapper {
    width: 30%;
    position: relative;
    margin-left: auto;

    img {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        width: 28px;
        height: 28px;
        opacity: .5;
        cursor: pointer;
    }
}

.search {
    padding: 10px 35px 10px 10px;
    width: 100%;
    margin-left: auto;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    background-color: transparent;
    color: #f5f5f5;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    &::placeholder{
        color: #f5f5f5;
    }
    &:focus{
        background-color: #f5f5f5;
        color: #333;
    }
}
.top-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    cursor: pointer;
    span{
        height: 4px;
        background-color: #2927b4;
        position: absolute;
        width: 100%;
        &:nth-child(1){
            transform: translateY(-13px);
            width: 50%;
        }
        &:nth-child(3){
            transform: translateY(13px);
            width: 70%;
        }
        transition: all .2s ease-in;
    }
    &:hover{
        span{
            width: 100%;
        }
    }
}

.weather-wrapper {
    width: 100%;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 109, 254, 0.8477984943977591) 100%);
    position: relative;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.48);

    &::after {
        display: block;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 20px;
        backdrop-filter: blur(1px);
    }
}
.weather-inner{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.weather-block {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.weather-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    color: #f5f5f5;
}

.sunshine {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
    }
}

.temperature {
    font-size: 64px;
}

.city {
    font-size: 22px;
    font-weight: 700;
}

.day-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #f5f5f5;
}

.time {
    font-size: 68px;
    font-weight: 600;
}

.day {
    font-size: 18px;
}

.week-weather {
    width: 60%;
    height: 100%;
    padding: 25px;
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 109, 254, 0.8477984943977591) 100%);
    border-radius: 20px;
    color: #f5f5f5;
    position: relative;

    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.48);

    &::after {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        backdrop-filter: blur(5px);
    }
}
.bottom-block{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 400px;
}
.meteo-block{
    width: 40%;
    height: 100%;
}
.meteo-row{
   display: grid;
   height: 100%;
   gap: 20px;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
}
.meteo-item{
    background: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(255, 255, 255, 0) 0%, rgba(0, 109, 254, 0.8477984943977591) 100%);
    border-radius: 20px;
    color: #f5f5f5;
    padding: 20px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.48);
}

.meteo-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.meteo-icon{
    width: 30px;
    height: 30px;
    img{
        width: 100%;
        height: 100%;
    }
}
.meteo-params{
    text-align: center;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 700;
}
.swiper-pagination{
    bottom: -15px !important;
}
.swiper-wrapper{
    width: 100%;
}
.swiper{
    width: 100%;
   
}
.swiper-slide{
    width: 100%;
}
.swiper-pagination-bullet{
    background-color: #f5f5f5 !important;
}
.week-inner{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.calendar{
    width: 20px;
    height: 20px;
}
.week-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.day-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    height: 100%;
    position: relative;

    &:not(:last-child) {
        &::after {
            display: block;
            content: '';
            height: 100%;
            width: 2px;
            background-color: #f5f5f568;
            position: absolute;
            right: -12px;
            border-radius: 2px;
        }
    }
}

.day-name{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
}
.day-date{
    text-align: center;
    font-size: 14px;
}
.day-weather{
    margin: 0 auto;
    width: 64px;
    height: 64px;
    img{
        width: 100%;
        height: 100%;
    }
}
.day-condition{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.day-temperature{
    font-size: 22px;
    text-align: center;
    font-weight: 700;
}
.day-tempRange{
    text-align: center;
    font-size: 14px;
    font-weight: 300;
}
.day-sunrise{
    font-size: 14px;
    font-weight: 300;
}

@media (max-width: 980px) {
    .weather-inner{
        gap: 5px;
    }
}

.query-list{
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    background-color: #f5f5f5;
    width: 100%;
    border-radius: 10px;
    ul{
        list-style: none !important;
        li{
            padding: 10px 20px;
            transition: all .1s ease-in-out;
            cursor: pointer;
            &:hover{
                font-weight: 700;
            }
        }
    }
}